
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landing-page.css">
    <title>HUSTHUB</title>
</head>
<body>
    <div class="header-bar">
        <div class="header-bar__inner">
            <a href="/">
                <div class="logo">
                    <span class="husthub">HUSTHUB</span>
                    <br> School Management System
                </div>
            </a>

            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="#" class="navbar__link">HOME</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#about-us" class="navbar__link">ABOUT US</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#news" class="navbar__link">NEWS</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#events" class="navbar__link">EVENTS</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#contact" class="navbar__link">CONTACT</a>
                    </li>
                </ul>
            </nav>

            <div class="header-action">
                <a href="login" class="btn login">LOG IN</a>
            </div>
        </div>
    </div>
    <footer>
        <p>The system is designed and developed by GROUP 6</p>
        <p>Get app HUSTHUB on mobile</p>
        <a href="#"><img src="google-play.png" alt="Get it on Google Play"></a>
        <a href="#"><img src="app-store.png" alt="Download on the App Store"></a>
    </footer>
</body>
</html>
