<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing-page.css">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <title>HUSTHUB</title>
</head>
<body>
    <div class="header">
        <a href="/" class="left-section">
            <div class="logo">
                <img src="/img/logo.png" alt="HUSTHUB Logo" />
            </div>
            <div class="title-container">
                <h1 class="title">HUSTHUB</h1>
                <h2 class="subtitle">School Management System</h2>
            </div>
        </a>
        <div class="right-section">
            <button class="login-btn">LOG IN</button>
        </div>
    </div>

    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="#home">HOME</a></li>
            <li><a href="#about-us">ABOUT US</a></li>
            <li><a href="#news">NEWS</a></li>
            <li><a href="#events">EVENTS</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
    </nav>

    <div class="main">
        <div id="home" class="home-content">
            <img src="/img/home.png" alt="Home Image" />
        </div>

        <div id="about-us" class="about-us-content">
            <h2>About Us</h2>
            <div class="team-member-container">
                <div class="team-member">
                    <img src="/img/huy-ava.jpg" alt="Team Member" />
                    <div class="team-member-info">
                        <h3>Tran Quang Huy</h3>
                        <p>20226109</p>
                    </div>
                </div>
                <div class="team-member">
                    <img src="/img/tung-ava.jpg" alt="Team Member" />
                    <div class="team-member-info">
                        <h3>Ng Luong Hoang Tung</h3>
                        <p>20226129</p>
                    </div>
                </div>
                <div class="team-member">
                    <img src="/img/hung-ava.jpg" alt="Team Member" />
                    <div class="team-member-info">
                        <h3>Ngo Manh Hung</h3>
                        <p>20226083</p>
                    </div>
                </div>
                <div class="team-member">
                    <img src="/img/hieu-ava.jpg" alt="Team Member" />
                    <div class="team-member-info">
                        <h3>Nguyen Trung Hieu</h3>
                        <p>20226082</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="news" class="news-content">
            <h2>News</h2>
            <div class="news-container">
                <div class="news">
                    <img src="/img/news1.jpg" alt="News Image" />
                    <div class="news-info">
                        <h3>News 1</h3>
                        <p>Content of news 1</p>
                    </div>
                </div>
                <div class="news">
                    <img src="/img/news2.jpg" alt="News Image" />
                    <div class="news-info">
                        <h3>News 2</h3>
                        <p>Content of news 2</p>
                    </div>
                </div>
                <div class="news">
                    <img src="/img/news3.jpg" alt="News Image" />
                    <div class="news-info">
                        <h3>News 3</h3>
                        <p>Content of news 3</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="events" class="events-content">
            <h2>Events</h2>
            <div class="events-container">
                <div class="event">
                    <img src="/img/event1.jpg" alt="Event Image" />
                    <div class="event-info">
                        <h3>Event 1</h3>
                        <p>Content of event 1</p>
                    </div>
                </div>
                <div class="event">
                    <img src="/img/event2.jpg" alt="Event Image" />
                    <div class="event-info">
                        <h3>Event 2</h3>
                        <p>Content of event 2</p>
                    </div>
                </div>
                <div class="event">
                    <img src="/img/event3.jpg" alt="Event Image" />
                    <div class="event-info">
                        <h3>Event 3</h3>
                        <p>Content of event 3</p>
                    </div>
                </div>
            </div>

    </div>

    <div class="footer">
        <h3>The system is designed and developed by GROUP 6</h3>
        <p>Get app HUSTHUB on mobile</p>
        <a href="#"><img src="/img/google-play.png" alt="Get it on Google Play"></a>
        <a href="#"><img src="/img/app-store.png" alt="Download on the App Store"></a>
    </div>
</body>
</html>
