<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/teacher-home-page.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <title>Teacher</title>
</head>

<body>
    <%- include('in-app-header') %>

    <div class="main">
        <div class="navbar">
            <ul class="nav-list">
                <li><a href="#home">HOME</a></li>
                <li><a href="#about-us">ABOUT US</a></li>
                <li><a href="#news">NEWS</a></li>
                <li><a href="#events">EVENTS</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
        <div class="message"></div>
    </div>

    <%- include('footer') %>
</body>