body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light background */
    margin: 0;
}
.h1{
    justify-content: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #cfe2cf; /* Light green background */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.left-section {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.right-section {
    display: flex;
    align-items: center;
}

.title-container {
    display: inline-block;
    text-align: left;
}

.logo img {
    height: 50px; /* Adjust logo size */
    margin-right: 15px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #009688; /* Primary color */
    margin: 0;
}

.subtitle {
    font-size: 1rem;
    color: #555; /* Subtitle color */
    margin: 0;
}

.login-btn {
    background-color: #cfe2cf;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    align-items: right;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #009688; /* Primary color */
    color: white;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1000;
    padding: 1px;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list li {
    margin: 0 100px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}


.footer {
    background-color: #cfe2cf;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.footer h3 {
    margin: 0;
    color: black; /* Primary color */
}

.footer p {
    margin: 0;
    color: #555; /* Subtitle color */
}

.footer a img {
    height: 50px; /* Adjust social media icon size */
    margin: 10px;
}
